<section id="introduction">
    <p>
        Welcome to the Simple Website Engine (SWSE) documentation. 
        This documentation provides an overview of the core concepts, features, and usage of SWSE.
    </p>
    <p>
        SWSE is a lightweight PHP framework designed to simplify the process of building dynamic websites 
        and web applications.
    </p>
    <p>&nbsp;</p>

    <h3>With SWSE web pages could look like this:</h3>
    
    <!--include:/sections/main-example.html-->

    <h3>Or if layout approach is used:</h3>

    <!--include:/sections/layout-example.html-->
    
    <p><em>
        This is not a full-blown framework to build a massive application, use it for small to medium 
        projects or prototypes.
    </em></p>
</section>