<div class="tabs">
    <div class="tab-buttons">
        <button class="tab-button">
            <div><em>layout</em></div>
            /default.html
        </button>
        <button class="tab-button">
            <div><em>page</em></div>
            /index.html
        </button>
        <button class="tab-button">
            <div><em>sections</em></div>
            head.html
        </button>
        <button class="tab-button">
            <div><em>sections</em></div>
            navigation.html
        </button>
        <button class="tab-button">
            <div><em>sections</em></div>
            footer.html
        </button>
    </div>
    
    <div class="tab-content">
        <pre class="copy"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    <span class="code-highlight">&lt;!--include:/sections/head.html--&gt;</span>
&lt;/head&gt;
&lt;body&gt;
    <span class="code-highlight">&lt;!--include:/sections/navigation.html--&gt;</span>
    &lt;section&gt;
        <span class="code-highlight">&lt;!--layout-content--&gt;</span>
    &lt;/section&gt;
    <span class="code-highlight">&lt;!--include:/sections/footer.html--&gt;</span>
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
    <div class="tab-content">
        <p><code>https://server.com/</code></p>
        <pre class="copy"><code><span class="code-highlight">&lt;!--layout:/default.html ["title" => "Home Page"]--&gt;</span>

&lt;h1&gt;Welcome to SWSE, <span class="code-highlight">&lt;!--$user--&gt;</span>!&lt;/h1&gt;
&lt;p&gt;This is a simple web page powered by SWSE.&lt;/p&gt;
</code></pre>
    </div>
    
    <div class="tab-content">
        <pre class="copy"><code>&lt;meta charset="UTF-8" /&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt;
&lt;title&gt;<span class="code-highlight">&lt;!--$title--&gt;</span>&lt;/title&gt;
&lt;link rel="stylesheet" href="/assets/css/style.css" /&gt;</code></pre>
    </div>
    
    <div class="tab-content">
        <pre class="copy"><code>&lt;nav&gt;
    &lt;a href="/"&gt;Home&lt;/a&gt;
    &lt;a href="/about"&gt;About&lt;/a&gt;
    &lt;a href="/contact"&gt;Contact&lt;/a&gt;
    <span class="code-highlight">&lt!--if ($isLogged)--&gt;</span>
        &lt;a href="/profile"&gt;Profile&lt;/a&gt;
        &lt;a href="/logout"&gt;Logout&lt;/a&gt;
    <span class="code-highlight">&lt!--endif--&gt;</span>
    <span class="code-highlight">&lt!--if (!$isLogged)--&gt;</span>
        &lt;a href="/login"&gt;Login&lt;/a&gt;
    <span class="code-highlight">&lt!--endif--&gt;</span>
&lt;/nav&gt;</code></pre>
    </div>
    
    <div class="tab-content">
        <pre class="copy"><code>&lt;footer&gt;
&lt;p&gt;&amp;copy; <span class="code-highlight">&lt;!--date Y--&gt;</span> My Website&lt;/p&gt;
&lt;/footer&gt;</code></pre>
    </div>
</div>