<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!--$title--> - SWSE</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVR42mNkYPhfzcAEWDAwMFAAsZExS8YBA8DAmIJBXDAIAmMgA5AAmEAXzIDpYAD77Q09lG0XTwAAAABJRU5ErkJggg==">
    <link rel='stylesheet' href='/assets/css/style.css' type='text/css' media='all' />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMX5MMPB');</script>
    <!-- End Google Tag Manager -->
</head>