<!DOCTYPE html>
<html lang="en">
    <!--include:/sections/common/head.html ["title" => "Actions Documentation"]-->
    <body>
        <!--include:/sections/common/header.html-->
        <main>
            <h1>Actions Documentation</h1>
            <div class="documentation">
                <!--include:/sections/actions/overview.html-->
                <!--include:/sections/actions/how-it-works.html-->
                <!--include:/sections/actions/naming-conventions.html-->
                <!--include:/sections/actions/create-action-class.html-->
                <!--include:/sections/actions/supported-methods.html-->
                <!--include:/sections/actions/helper-methods.html-->
            </div>
        </main>
        <!--include:/sections/common/footer.html-->
    </body>
</html>