<!DOCTYPE html>
<html lang="en">
    <!--include:/sections/common/head.html ["title" => "Examples"]-->
    <body>
        <!--include:/sections/common/header.html-->
        <main>
            <h1>Useful Examples</h1>
            <div class="documentation">
                <section>
                    <ul>
                        <li>
                            <a href="/examples/contact-form">Contact Form Example</a>
                             - A simple contact form with CSRF protection and flash messages.
                        </li>
                        <li>
                            <a href="/examples/api">API Example</a>
                             - An example demonstrating how to create and consume a simple API.
                        </li>
                        <li>
                            <a href="/examples/pagination">Pagination Example</a>
                             - An example demonstrating how to use pagination in your application.
                        </li>
                        <li>
                            <a href="/examples/rewrites">Rewrite URLs Example</a>
                             - An example demonstrating how to use URL rewrites in your application.
                        </li>
                    </ul>
                </section>
            </div>
        </main>
        <!--include:/sections/common/footer.html-->
    </body>
</html>