<!DOCTYPE html>
<html lang="en">
    <!--include:/sections/common/head.html ["title" => "Template System"]-->
    <body>
        <!--include:/sections/common/header.html-->
        <main>
            <h2>Simple Website Engine Documentation</h2>
            <div class="documentation">
                <p>
                    Welcome to the Simple Website Engine (SWSE) documentation. 
                    This documentation provides an overview of the core concepts, features, and usage of SWSE.
                </p>
                <p>
                    SWSE is a lightweight PHP framework designed to simplify the process of building dynamic websites 
                    and web applications.
                </p>
                <section>
                    <h3>Getting Started</h3>
                </section>
                <!-- <ul>
                    <li><a href="/actions">Actions Documentation</a> - Learn about how to create and manage actions in SWSE.</li>
                    <li><a href="/templates">Templates Documentation</a> - Understand how to work with templates to render views.</li>
                    <li><a href="/examples">Examples</a> - Explore useful examples demonstrating various features of SWSE.</li>
                </ul> -->
            </div>
        </main>
        <!--include:/sections/common/footer.html-->
    </body>
</html>