<!DOCTYPE html>
<html lang="en">
    <!--include:/sections/common/head.html ["title" => "Template System"]-->
    <body>
        <!--include:/sections/common/header.html-->
        <main>
            <h1>Simple Website Engine Documentation</h1>
            <div class="documentation">
                <!--include:/sections/introduction.html-->
                <!--include:/sections/getting-started.html-->
                <!--include:/sections/file-structure.html-->
                <!--include:/sections/additional-configuration.html-->
                <!--include:/sections/next-steps.html-->
                <!--include:/sections/faq.html-->
            </div>
        </main>
        <!--include:/sections/common/footer.html-->
    </body>
</html>