<!--layout:/default.html ["title" => "Templates Documentation"]-->

<!--include:sections/templates/overview.html-->
<!--include:sections/templates/naming-conventions.html-->
<!--include:sections/templates/includes.html-->
<!--include:sections/templates/layouts.html-->
<!--include:sections/templates/simple-variables.html-->
<!--include:sections/templates/raw-variables.html-->
<!--include:sections/templates/array-access.html-->
<!--include:sections/templates/env-parameters.html-->
<!--include:sections/templates/foreach-loops.html-->
<!--include:sections/templates/if-statements.html-->
<!--include:sections/templates/helpers.html-->