<!DOCTYPE html>
<html lang="en">
    <!--include:sections/common/head.html ["title" => "Template System"]-->
    <body>
        <!--include:sections/common/header.html-->
        <main>
            <h1>Templates Documentation</h1>
            <div class="documentation">
                
                <!--include:sections/templates/overview.html-->
                <!--include:sections/templates/naming-conventions.html-->
                <!--include:sections/templates/includes.html-->
                <!--include:sections/templates/simple-variables.html-->
                <!--include:sections/templates/array-access.html-->
                <!--include:sections/templates/if-statements.html-->
                <!--include:sections/templates/helpers.html-->
            </div>
        </main>
        <!--include:sections/common/footer.html-->
    </body>
</html>