<section id="create-action-class">
                <h3>Creating an Action Class</h3>
                <p>Create a PHP file in the <code>actions/</code> directory matching the content file name:</p>
                <pre><code>&lt;?php
// actions/contact.php
class Contact {
    public function get() {
        // Runs on GET requests to /contact
        // Prepare data, check auth, etc.
        
        // Access to .env parameters
        $var = $_ENV['SOME_PARAMETER'];

        return ['title' => 'Hello!']; // This will be available as <!--$title--> in the template
    }
    
    public function post() {
        // Runs on POST requests to /contact
        // Process forms, save data, etc.
        $this->validateCsrf();
        
        $name = getPost('name');
        // ... process data
        
        redirect('/success');
    }
}</code></pre>
<h4>Tips:</h4>
<ul>
    <li>
        A common parent class (e.g. <code>App</code>) can be created which actions can extend to share 
        functionality.
    </li>
    <li>Additional logic can be used or created behind the actions to connect to databases, APIs, or other services.</li>
</ul>
</section>