<section id="helper-methods">
    <h3>Helper Methods</h3>
    
    <div>
        <h5>redirect($url, $status = 302)</h5>
        
        <pre><code>redirect('/success');              // Redirect to another page</code></pre>
    </div>

    <div>
        <h5>json($data, $status = 200)</h5>
        <pre><code>return json(['status' => 'ok']);          // Return JSON response instead of html content
return json(['status' => 'failed'], 503); // Return JSON response instead of html content with status code 501</code></pre>
    </div>
    
    <div>
        <h4>Data Access</h4>
        <p>Using these functions would sanitize the variables. Avoid using raw input data directly like $_POST, $_GET or $_REQUEST.</p>
        <br>
        <h5>getPost($key, $default = null)</h5>
        <pre><code>$name = getPost('name', 'default');     // Get POST data sanitized</code></pre>
        <h5>getQuery($key, $default = null)</h5>
        <pre><code>$query = getQuery('q', '');             // Get GET data sanitized</code></pre>
        <p>Using those methods helps prevent XSS attacks by sanitizing input data.</p>
    </div>
    <div>
        <h4>Flash Messages</h4>
        <h5>setFlash($key, $message)</h5>
        <pre><code>setFlash('success', 'Message sent!');   // Set flash message
$msg = getFlash('success');             // Get and clear flash</code></pre>
        <p>See how to use flash messages in templates <a href="/templates#helpers">here</a>.</p>
    </div>
    <div>
        <h4>Translations</h4>
        <h5>__($text, $vars = [])</h5>
        <pre><code>$message = __('Message sent!');                          // Translate a string
$message = __('Hello {name}', ['name' => 'Nik']);        // Translate with placeholders</code></pre>
        <h5>currentLocale()</h5>
        <pre><code>$locale = currentLocale();                               // "de" on /de/about</code></pre>
        <h5>localeUrl($route, $locale)</h5>
        <pre><code>redirect(localeUrl('contact', currentLocale()));         // Redirect without leaving the language</code></pre>
        <p>See how to translate a website <a href="/i18n">here</a>.</p>
    </div>
    <div>
        <h4>Security</h4>
        <h5>verifyCsrf()</h5>
        <pre><code>verifyCsrf();</code></pre>
        <p>
            Use this in the post method to protect against CSRF attacks. If the CSRF token is invalid, the request 
            will be rejected.
        </p>
    </div>
</section>