<section id="supported-methods">
    <h3>Supported HTTP Methods</h3>
    <p>The action system automatically supports all HTTP methods:</p>
    <ul>
        <li><code>get()</code> - Handle GET requests</li>
        <li><code>post()</code> - Handle POST requests</li>
        <li><code>put()</code> - Handle PUT requests</li>
        <li><code>delete()</code> - Handle DELETE requests</li>
        <li><code>patch()</code> - Handle PATCH requests</li>
    </ul>
    <p>
        <code>all()</code> method handles any HTTP methods that do not have a specific handler defined.
    </p>
</section>